name: Run fude_stats.py on GeoJSON Update

# on:
#  push:
#    paths:
#      - 'fudedata/*.geojson'

on:
        # 手動実行
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install GDAL binaries
        run: |
          sudo apt-get update
          sudo apt-get install -y libgdal-dev gdal-bin
      - name: Set environment variables
        run: |
          echo "GDAL_VERSION=$(gdal-config --version)" >> $GITHUB_ENV
          echo "GDAL_DATA=$(gdal-config --datadir)" >> $GITHUB_ENV
      - name: Install GDAL Python binding
        run: |
          pip install GDAL==$(gdal-config --version)
      - name: Install Dependencies
        run: |
          pip install geopandas==0.13.2
          pip install Shapely==1.8.1.post1
      - name: Run fude_stats.py
        run: python fude_stats.py
      - name: Upload output
        uses: actions/upload-artifact@v2
        with:
          name: processed-data
          path: fudedata/
      - name: Commit and Push
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add fudedata/
          git commit -m 'Add processed data'
          git push --set-upstream origin HEAD
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      